#searchInput {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 5px solid #ccc;
    border-radius: 40px;
}

#foodList {
    list-style-type: none;
    padding: 1;
    width: 90%;
}

#foodList button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#foodList button:hover {
    background-color: #45a049;
}

table {
    width: 95%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

/*
Dans ce code, tr:nth-child(even) est un sélecteur CSS qui cible chaque deuxième élément tr (ligne de tableau).
nth-child(even) est une pseudo-classe qui sélectionne les éléments en fonction de leur position dans un groupe d'éléments frères.
even signifie que tous les éléments à des positions paires (2, 4, 6, etc.) seront sélectionnés.

background-color: #f2f2f2; est une déclaration CSS qui définit la couleur d'arrière-plan des éléments sélectionnés.
#f2f2f2 est une couleur gris clair.

Ensemble, ce code donne un effet de zébrure aux lignes du tableau,
où chaque deuxième ligne a un fond gris clair.
Cela peut améliorer la lisibilité d'un tableau en facilitant la distinction entre les lignes adjacentes.

C'est desactivé car je prefere que tout soit de la meme couleur
*/
/*
tr:nth-child(even) {
    background-color: #f2f2f2;
}
*/


/*
Dans ce code, tr:hover est un sélecteur CSS qui cible les éléments tr (lignes de tableau)
lorsqu'ils sont survolés par le curseur de la souris.
:hover est une pseudo-classe qui sélectionne un élément lorsque l'utilisateur pointe dessus
avec un dispositif de pointage, généralement la souris.

background-color: #ddd; est une déclaration CSS qui définit la couleur d'arrière-plan
des éléments sélectionnés. #ddd est une couleur gris clair.

Ensemble, ce code change la couleur d'arrière-plan d'une ligne de tableau en gris clair
lorsqu'elle est survolée par le curseur de la souris.
Cela peut améliorer l'expérience utilisateur en fournissant un feedback visuel
lorsque l'utilisateur survole une ligne de tableau.
*/
tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
.rating-0 {
     background-color: #0000008d; /* Black */
}
.rating-1 {
     background-color: #ffcccc; /* Red */
}

.rating-2 {
    background-color: #ffddcc; /* Orange */
}

.rating-3 {
    background-color: #ffffcc; /* Yellow */
}

.rating-4 {
    background-color: #ddffcc; /* Light Green */
}

.rating-5 {
    background-color: #ccffcc; /* Green */
}

#tagCategory {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#tagCategory .tag {
    background-color: #f1f1f1;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

#tagCategory .tag:hover {
    background-color: #3e8e41;
    color: white;
}

#tagCategory .tag.selected {
    background-color: #244a7c;
    color: white;
}

#tagRate {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#tagRate .tag {
    background-color: #f1f1f1;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

#tagRate .tag:hover {
    background-color: #3e8e41;
    color: white;
}

#tagRate .tag.selected {
    background-color: #244a7c;
    color: white;
}